In [ ]:
data = [' afsan ','khan ','saransh a ',' pooja']

#remove space and extract the data

data = ['messi@gmail.com' ,'pooja@yahoo.in','kavya@outlook.com']

#store the user name messi,pooja in new list

#data extract the data which ends with gmail.com

In [9]:
data = [' afsan ','khan ','saransh a ',' pooja']

for i in data:
    clean_data.append(data.strip())
print(clean_data)

NameError: name 'clean_data' is not defined

In [15]:
a = 23
b = list(range(1,11))

In [ ]:
for i in range(1,51)

In [17]:
data = ['messi@gmail.com','ramesh@yahoo.in','pooja@gmail.com','oajd@email.com']

clean_data = [i.split('@')[0] for i in data]

clean_data

['messi', 'ramesh', 'pooja', 'oajd']

In [22]:
a = [10,20,34,33,35,37]

even = [i for i in a if i%2 == 0]

even

[10, 20, 34]

In [ ]:
a = 'python'

for i in range(-1:-len(a)-1):
    print a

In [9]:
a = 'python'

for i in range(0,len(a)):
    print(a[i]*(len(a)-i))

pppppp
yyyyy
tttt
hhh
oo
n

In [13]:
for i in range(5):
    print(i)
    if i == 3:
        continue
    print(i)
print('bye')

0
0
1
1
2
2
3
4
4
bye

In [17]:
a = 'python'

for i in range(6,0,-1):
    print(a[i-1]*i)

nnnnnn
ooooo
hhhh
ttt
yy
p

In [24]:
a = 'python'
i = 6
while i >= 1:
    print(a[i-1]*i)
    i-=1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [28]:
for i in range(4):
    if i == 1:
        break
    print(i)
else:
    print('Hi')

0

In [32]:
data = eval(input('enter a num to check prime or not'))
for i in range(2,data):
    if(data%2 == 0):
        print('not a prime')
        break
else:
    print('prime num')

enter a num to check prime or not12
not a prime

In [33]:
database = {'pooja':'abc','soumya':'xyz'}

def login(username,password):
    if database.get(username) == password:
        return True
    return False
login('pooja','abc')

True